<h1>Hello ! Veuillez valider votre mail</h1>

<p>
   Avant de pouvoir accéder au site, veuillez valider votre adresse mail : <br><br>
    <a href="{{ signedUrl }}">Ici</a>.
    Ce lien expierera dans :{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci de votre inscription ! Vous avez dès à présent accès à la catégorie Boudoir !

</p>

<p>
    Cheers!
</p>
