<form method="post" action="{{ path('photographe_delete', {'id': photographe.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce Photographe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photographe.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
