{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier une Technique{% endblock %}

{% block body %}
<div class="content-wrapper">
    <h1>Modifier une Technique</h1>

    {{ include('techniques/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('techniques_index') }}"><button class="btn btn-primary">Retour à la Liste</button></a>

    {{ include('techniques/_delete_form.html.twig') }}
</div>
{% endblock %}
