{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter une Technique{% endblock %}

{% block body %}
<div class="content-wrapper">
    <h1>Ajouter une Technique</h1>

    {{ include('techniques/_form.html.twig') }}

    <a href="{{ path('techniques_index') }}"><button class="btn-primary">Retour à la Liste</button> </a>
</div>
{% endblock %}
