{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier une Photo{% endblock %}

{% block body %}
    <div class="content-wrapper">
    <h1>Modifier une Photo</h1>

    {{ include('photos/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('photos_index') }}"><button class="btn btn-primary">Retour à la Liste</button> </a>

    {{ include('photos/_delete_form.html.twig') }}
    </div>
{% endblock %}
